.venv
.idea
.DStore
*.yaml
*.env
*__pycache__/
# Ignore Dockerfiles and Docker-related files
Dockerfile
Dockerfile.*
*.dockerfile
*.Dockerfile
*.dockerignore
docker-compose.yml
docker-compose.yaml
docker-compose.*.yml
docker-compose.*.yaml

*.venv

# Ignore Docker directories if any
.docker/
docker/
